div(db-clock, frequency='1000')
div(ng-repeat='p in people', db-greeting, name='{{p.name}}', age='{{p.age}}')
div(db-stock symbol='AAPL')
div(db-stock symbol='GOOG')

div(db-weather zip='37865')
div(db-weather zip='37075')
